body{
    background-color: white;    
}

.topnav {
    display: block;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 99.2%;
    padding: 7px;
    background-color: #4b5945;
    border-radius: 10px 10px 10px 0px;
  }

.topnav a {
    text-align: center;
    padding: 10px;
    padding-left: 10px;
    padding-right: 20px;
    display: block;
    overflow: hidden;
    float: right;
    font-style: bold;
    color:#EDE8DC;
    margin-top: 3px;
}

.topnav a:hover {
    background-color: #E7E0C9;
    color: #4b5945;
    border-radius: 10px;
}

.header {
  text-align: left;
  height: 245px;
  width: 84%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 85%;
  float: right;
  border-radius: 5px;
  margin-left: 9px;
  margin-top: 15px;
  margin-right: 4px;
}

.header a{ 
  font-family: serif;
  font-size: 17px;
  color: #385170;
}

.header a:hover{
  color: #4b5945;
}

.content { 
  width: 85%;
 height: 290px;
 font-size: 110%;
 padding: 15px;

}

h1{
    color: #4b5945;
    font-family: serif;
    margin-left: 20px;
    float: left;

}

h3{
  color: white;
  font-style: serif;
  text-align: center  ;
  padding: 10px;
}

h4{
  color: #4b5945;
  font-style: serif;
  text-align: center  ;
  padding: 10px;
}

p{
    color: #4b5945;
    font-size: 150%;
    font-style: serif;    
    text-align: left;   
}

aside {
    width: 15%;
    color: white;
    height: 100%;
    background-color: #4b5945;
    padding-top: 5px;
    padding-bottom: 5px;
  } 

  aside a {
    color: white;
    font-size: 20px;
    font-style: serif;
    padding-left: 35px;
    width: 250px;
    text-decoration: none;
    display: block;
    block-size: 30px;
  } 

aside a:hover {
    color: #4b5945;
    background-color: white;
    width: 100%;
    display: block;
    float: center;
    block-size: 30px;
  }

  .aside a:active{
    color: #4b5945;
    background-color: white;
    width: 100%;
    display: block;
    float: right;
  }

  .cardone {
   width: 100%;
  height: 240px;
  background-color: white;
  border-radius: 25px;
  border: #4b5945 solid 1px;
}

.cardtwo {
   width: 100%;
  height: 240px;
  background-color: white;
  border-radius: 15px;
  border: solid 1px #4b5945;
  margin-top: 20px;
}

